<template>
<div class="home">
  <h1>Bienvenue dans Minecraft-Spy</h1>
  <p id="presentation">Cette application Web vous permettra de consulter la liste des joueurs connectés pour différents serveurs ainsi que vous donner la
  possibilité de créer votre propre carte personnalisée de joueur</p>

  <div class="wrapper">
    <div v-for="server in serversInfo" :key="server.name" class="server" v-on:click="navigate(server)">
      <ServerInfo  :server="server" ></ServerInfo>
    </div>
  </div>

</div>
</template>

<script>
import axios from 'axios';
import ServerInfo from "@/components/ServerInfo";
export default {
  name: "Home",
  components :{
    ServerInfo
  },
  data(){
    return{
      serversInfo  : [],
    }
  },
  props:{
    servers : []
  },
  methods :{
    navigate(server){
      this.$router.push({name : "online", params : {server : server}});
    }
  },
  async mounted() {
    let name;
    let ip;
    let nbJoueurs;
    let nbJoueursMax;
    let icon;
    let description;
    let version;
    for (let i = 0; i < this.servers.length; i++) {
      name = this.servers[i].name
      ip = this.servers[i].ip
      let url = "https://api.mcsrvstat.us/2/" + this.servers[i].ip

      await axios.get(url)
          .then(response => {
            let data = response.data;
            if(data.online) {
              nbJoueurs = data.players.online
              nbJoueursMax = data.players.max
              icon = data.icon
              description = data.motd.clean[0]
              version = data.version
              this.serversInfo.push({
                name: name,
                ip: ip,
                nbPlayers: nbJoueurs,
                nbPlayersMax: nbJoueursMax,
                icon: icon,
                description: description,
                version : version
              })
              console.log("tableau : " + name + " " + ip + " " + nbJoueurs + " " + nbJoueursMax)
            }
          })
    }

  }
}
</script>

<style scoped>
*{
  color: white;
}
h1{
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3em;
  color: rgb(54, 47, 43)
}
#presentation{
  margin:  0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: #2c3e50;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  margin-bottom: 1em;
}
.server {
  display: flex;
  justify-content: center;
}

.wrapper{
  height: 40rem;
  margin: 0 auto;
  width: 50%;
}
</style>