<template>
  <div>
    <h1>Liste des joueurs connectés</h1>
    <h2><div class="chose-server">
      <div>
        Selectionnez un serveur
        <select id="select-server" v-model="server">
          <option v-for="(server) in servers" :key="server.name" :value="server">{{server.name}}</option>
        </select>
      </div>
      <label><input class="active-overlay" type="checkbox" v-model="checkboxState" /> Activer overlay</label>
        </div>
    </h2>
    <div class="wrapper">
      <div v-for="player in playerList" :key="player.pseudo" class="player">
        <PlayerInfo  :player="player" :overlay="overlay"></PlayerInfo>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import PlayerInfo from "./PlayerInfo";
export default {
  name: "OnlinePlayers",
  components : {
    PlayerInfo
  },
  data(){
    return{
      playerList : [],
      checkboxState : false,
      server : Object// serveur invivables par défaut
    }
  },
  props:{
    servers : []
  },
  computed:{
    overlay(){
      return (this.checkboxState ? "&overlay" : "")
    }
  },
  mounted() {
    if (this.$route.params.server != null) {
      this.server = {
        name : this.$route.params.server.name,
        ip : this.$route.params.server.ip,
      }
    }
    else this.server = this.servers[0]

  },
  watch : {
    server(){
      this.fillPlayersList()
    }
  },
  methods:{
    fillPlayersList(){
      this.playerList = []
      let url = "https://api.mcsrvstat.us/2/"+this.server.ip

      axios.get(url)
          .then(response => {
            let data = response.data;
            if(data.players.list != null){
              for (let i = 0; i < data.players.list.length; i++) {
                let player = data.players.list[i]
                let uuid = data.players.uuid[player]
                this.playerList.push({pseudo: player, uuid: uuid})
                //console.log(player + " " +data.players.uuid[player])
                //console.log("tableau : "+ this.playerList[i].pseudo +" " + this.playerList[i].uuid)
              }
            }
          })
    }
  }

}
</script>

<style scoped>
body, html{
}
h1{
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.7em;
  color: rgb(54, 47, 43)
}
h2{
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}
.chose-server{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(54, 47, 43)
}
.active-overlay{
  width: 20px;
  height: 20px;
}
#select-server{
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(54, 47, 43);
  font-family: Minecraft,sans-serif ;
}
option{
  background: rgba(0, 0, 0, 0.4);

}
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.player {
  padding-left: 2%;
  padding-right: 2%;

}
.player:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
}
</style>