<template>
  <div class="player-card-global">
    <h1>Carte d'identité du joueur</h1>
    <div class="wrapper">
      <div class="player-card">
        <div class="presentationPlayer">
          <div class="champs-info">
            <p v-if="!editMode">{{ localPlayer.pseudo }}</p>
            <p v-else> <input v-model="localPlayer.pseudo"/> </p>
            <p v-if="!editMode">{{ localPlayer.fullname }}</p>
            <p v-else><input v-model="localPlayer.fullname"/></p>
            <p v-if="!editMode">{{ localPlayer.age }} ans</p>
            <p v-else><input  v-model="localPlayer.age"/></p>
          </div>
        </div>

        <div>
          <button  class="editPng"  v-if="!editMode "  @click="activeEditMode"><img id = "edit" src="../assets/edit.png"></button>

          <div class="right-card">
            <div class="player-head"><img id = "headImg" :src=headLink alt="Tête généré par Minecraft-api.com" /></div>
            <div class="refresh-png-div">
              <button v-if="editMode" class="refreshPng" @click="updateHead"><img id="refresh" src="../assets/refresh-icon.png"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button :class="{'inactive':isDisabled, 'active' : !isDisabled}" :disabled="isDisabled" class="save-player-button" v-if="editMode" @click="saveNewPlayer">Enregistrer</button>


  </div>
</template>

<script>
import axios from 'axios'
export default {

  name: "playerCard",
  data(){
    return{
      localPlayer : this.globalPlayer.clone() ,
      editMode : false,
    }
  },
  props:{
    globalPlayer : Object
  },
  computed :{
    headLink(){
      return "https://crafatar.com/renders/head/"+this.localPlayer.uuid + "?size=4&default=MHF_Steve&overlay&scale=6"
    },
    isDisabled(){
      return this.localPlayer.pseudo === "" || this.localPlayer.fullname === "" || this.localPlayer.age === "" || this.format_age || this.format_pseudo
    },
    format_age(){
      const regex = new RegExp('[a-zA-Z]');
      return (regex.test(this.localPlayer.age));
    },
    format_pseudo(){
      const regex = new RegExp('-');
      return (regex.test(this.localPlayer.pseudo));
    }
  },
  methods :{
    updateHead(){
      if(!this.format_pseudo) {
        let urlUUID = "https://api.minetools.eu/uuid/" + this.localPlayer.pseudo

        axios.get(urlUUID)
            .then(response => {
              let data = response.data;
              console.log(data.id)

              let uuid;
              if (data.id === null) uuid = "00000000000000000000000000000000"
              else uuid = data.id

              this.localPlayer.uuid = uuid
            })
            .catch(function (error) {
              console.log(error)
            })
      }
    },
    activeEditMode(){
      this.editMode = !this.editMode
    },
    saveNewPlayer(){
      this.$emit("update:player",this.localPlayer)
      this.editMode = false;
    }
  }
}
</script>

<style scoped>

body{
  height: 100%;

}
html{
  height: 100%;
}
input{
  font-family: Minecraft,sans-serif ;
  font-size: 1.5rem;
  width: 100%;
}
p{
  width: 50%;
  margin-bottom: 3%;
  margin-right: 15%;
}
h1{
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 3rem;

  font-size: 2.7em;
  color: rgb(54, 47, 43)
}
.player-card-global{
  display : flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  justify-content: center;
  height: 30em;
}
.player-card{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  width: 35%;
  height: 70%;
  border : solid black 5px;
  border-radius: 10px;
  margin-right: 1%;
}
.player-head{
  display: flex;
  justify-content: center;
}
.champs-info{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.right-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#headImg{
  }
.refresh-png-div{
  margin-top: 3%;
}
.presentationPlayer{
  font-size: 25px;
  background-image: url("../assets/card_background.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 15%;
  grid-column: 1/3;

  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;

  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
.editPng,.refreshPng{
  height: 0;
  background: white;
  border: none;
  background: none;
}
.editPng{
  float: right;
}
.editPng:hover{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.editPng:hover,.refreshPng:hover{
  cursor: pointer;
}
#edit{
  width:40px;
  height: 40px;
}
#refresh{
  width: 50px;
  height: 50px;
}

.save-player-button{
  margin : 0 auto;
  margin-top : 1em;
  font-size: 1.8rem;
  font-family: Minecraft,sans-serif ;
}
.inactive {
  background-color: lightgray !important;
  color: white !important;
}

.active {
  background-color: rgba(255, 255, 255, 0.4);
  color: white !important;
  cursor: pointer;
}

</style>