<template>
  <div class="info">
    <img id="frame" :src=img scrolling='no'>
    <!-- <iframe id="frame" :src=img scrolling='no'></iframe> -->
    <p>{{player.pseudo}}</p>
  </div>
</template>

<script>
//import axios from "axios";

export default {
  name: "PlayerInfo",
  data(){
    return {
    }
  },
  props :{
    player : Object,
    overlay : {
      type : String,
      default : ""
    }
  },
  computed:{
    img(){
      return "https://crafatar.com/renders/body/"+this.player.uuid + "?size=4&default=MHF_Steve"+this.overlay+"&scale=9"
    },
  },
}
</script>

<style scoped>


p{
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.info{
  font-family: Bahnschrift;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  background-color: rgba(176, 133, 102, 0.2);
  text-align: center;
  border-radius: 15px;
  width: 300px;
  font-weight: bold;
  margin-bottom: 10%;
  height: 440px;
}
.info:hover{
  background-color: rgba(176, 133, 102, 0.5);
  transition: .3s ease-in-out;
}
iframe{
  margin: 0;
}
#frame{
  width:200px;
  height:95%;
  border: 0;
}
</style>