<template>
  <div class="serverInfo">
  <div>
    <img id = "server-icon" :src="server.icon">
  </div>
  <div class="server">
    <span id = "name">{{server.name}}</span> : {{server.ip}}

    <button type="button" id="copy_paste" v-clipboard:copy="server.ip" @click.stop="showTooltip">
      <img src="../assets/copy_paste.png" >
      <span v-bind:class="{ 'inactiveTooltip' : !activeTooltip , 'activeTooltip' : activeTooltip}" class="tooltiptext">Adresse copiée</span>
    </button>
    <div>Version : {{server.version}}</div>
    <div class="description">{{server.description}}</div>
  </div>
  <div class="nbPlayers">
    <div>{{server.nbPlayers}} / {{server.nbPlayersMax}}</div>
  </div>
  </div>

</template>

<script>
export default {
  name: "serverInfo",
  components : {
  },
  data() {
    return {
      activeTooltip : false,
    }
  },
  props :{
    server : Object
  },
  methods : {
    showTooltip() {
      this.activeTooltip = true;
      setTimeout(() => this.activeTooltip = false, 2000);
    },
  }
}
</script>

<style scoped>

#server-icon{
  margin-right: 10px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#copy_paste{
  background: none;
  border: none;
  cursor: pointer;
}
.serverInfo{
  /* Constantia */
  font-family: Constantia ;
  background-color: rgba(176, 133, 102, 0.2);
  width: 100%;
  height: 5em;
  display: flex;
  margin-bottom: 1%;
  font-size: 1.6em;
  border-radius: 5px;
}
#name{
  font-weight: bold;
}
.server{
  margin-top: 5px;
}
.nbPlayers{
  margin-top: 5px;
  margin-left: auto;
  width: 15%;
  text-align: right;
  margin-right: 7px;
}
.description{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
  width: 90%;
}


#copy_paste {
  position: relative;
  display: inline-block;
}

.tooltiptext{
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

#copy_paste .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-bottom: 5px;
}

.serverInfo:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: .3s ease-in-out;
  background-color: rgba(176, 133, 102, 0.5);
}
#copy_paste .activeTooltip{
  visibility: visible;
}

#copy_paste .inactiveTooltip{
  visibility: hidden;
}
</style>