<template>
  <div id="app">
    <header>
      <ul>
        <li id = "appTitle"><router-link to="/">MinecraftSpy</router-link></li>
        <li><router-link to="/online">Connectés</router-link></li>
        <li><router-link  to="/player">Carte du joueur</router-link></li>
        <li id ="hello-player-li"><label id="hello-label">Bonjour {{player.pseudo}}</label> <img id = "headImg" :src=headLink alt="Tête généré par Minecraft-api.com" /></li>

      </ul>
    </header>
    <router-view @update:player="updatePlayer" :servers="servers" :global-player="player"/>
  </div>
</template>

<script>
import {Player} from "@/assets/Player";
import { servers } from "./assets/servers_list.js"; // NB: mettre votre chemin
export default {
  name: 'App',
  components: {
  },
  data(){
    return {
      player : new Player({
        pseudo : "Tchyan",
        fullname : "Antoine Loyer",
        age : "23",
        uuid : "6eb609a0568d4a71802b39db229f5954"
      }),
      servers,
    }
  },
  computed : {
    headLink(){
      return "https://crafatar.com/avatars/"+this.player.uuid+"?size=30&default=MHF_Steve&overlay"
    }
  },
  methods :{
    updatePlayer(newPlayer){
      this.player = newPlayer.clone()
    }
  }
}
</script>

<style>
@font-face { font-family: Minecraft; src: url('assets/Minecraft.ttf'); }

body html{
  height: 100%;
  width: 100%;

}

body{
  margin: 0;
  background-image: url("assets/background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;
  background-attachment: fixed;
}

#app {
  font-family: Minecraft,sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
#appTitle{
  font-weight: bold;
  font-size: 1.8em;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 8px 10px;
  justify-content: normal !important;
  align-items: center;
  background-color:black;
  color:white;
  margin-bottom: 3%;
  height: 60px;
}
ul{
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
  display : flex;
  align-items: center;
  width : 100%;
}
header ul li {
  list-style: none;
  padding-right: 20px!important;
}
header ul li{
  display: inline-block;
  font-weight: 400;

}
a{
  text-decoration: none !important;
  color: whitesmoke;
}

#hello-player-li{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hello-label{
  margin-right: 20px;
}
</style>
